In [ ]:
import pandas as pd
#importing dataset
df = pd.read_csv('/content/drive/MyDrive/Covid Dashboard Project/Raw Data/IMD_Data(All para).csv',encoding= 'unicode_escape')

In [ ]:
df

          Date     SLP_in_hPa  Tmax  ...  Rh_in_%  Wind_Direction  Wind_Speed(kmph)
0    15.3.2021            946    37  ...       20             274                 3
1    16.3.2021            946    37  ...       15              88                 1
2    17.3.2021            945    37  ...       17             107                 2
3    18.3.2021            945    37  ...       21             289                 4
4    19.3.2021            945    36  ...       19             281                 4
..         ...            ...   ...  ...      ...             ...               ...
179  10.9.2021            942    29  ...       77             221                 5
180  11.9.2021            940    30  ...       82             245                 6
181  12.9.2021            939    29  ...       91             254                 4
182  13.9.2021            939    28  ...       91             228                 7
183  14.9.2021            943    32  ...       62             227                 5

[184 rows x 8 columns]

#When RI > Threshold

In [ ]:
df[57:58]

         Date     SLP_in_hPa  Tmax  ...  Rh_in_%  Wind_Direction  Wind_Speed(kmph)
57  11.5.2021            943    37  ...       48             235                 5

[1 rows x 8 columns]

In [ ]:
df[107:108]

          Date     SLP_in_hPa  Tmax  ...  Rh_in_%  Wind_Direction  Wind_Speed(kmph)
107  30.6.2021            943    33  ...       63             235                 9

[1 rows x 8 columns]

In [ ]:
df[163:164]

          Date     SLP_in_hPa  Tmax  ...  Rh_in_%  Wind_Direction  Wind_Speed(kmph)
163  25.8.2021            943    31  ...       69             251                 9

[1 rows x 8 columns]

In [ ]:
df.max()

Date                9.9.2021
   SLP_in_hPa            948
Tmax                      40
Tmin                      24
Rain_in_mm              6408
Rh_in_%                   97
Wind_Direction           328
Wind_Speed(kmph)          14
dtype: object

In [ ]:
df.min()

Date                1.4.2021
   SLP_in_hPa            936
Tmax                      25
Tmin                      14
Rain_in_mm                 0
Rh_in_%                   12
Wind_Direction            24
Wind_Speed(kmph)           0
dtype: object

Medium to high risk (other method)![image.png]()

In [ ]:
df[153:170]

          Date     SLP_in_hPa  Tmax  ...  Rh_in_%  Wind_Direction  Wind_Speed(kmph)
153  15.8.2021            943    26  ...       86             227                 2
154  16.8.2021            944    27  ...       81             271                 6
155  17.8.2021            944    26  ...       76             239                 4
156  18.8.2021            942    26  ...       86             201                 4
157  19.8.2021            943    32  ...       88             250                 5
158  20.8.2021            943    32  ...       62             227                 5
159  21.8.2021            943    32  ...       62             227                 5
160  22.8.2021            943    32  ...       62             227                 5
161  23.8.2021            943    32  ...       62             227                 5
162  24.8.2021            944    32  ...       61             250                 6
163  25.8.2021            943    31  ...       69             251                 9
164  26.8.2021            942    30  ...       88             253                 6
165  27.8.2021            942    28  ...       73             286                 3
166  28.8.2021            940    30  ...       65             234                 6
167  29.8.2021            940    32  ...       70             237                 9
168  30.8.2021            942    28  ...       77             231                 5
169  31.8.2021            942    26  ...       81             246                 6

[17 rows x 8 columns]

15.8.2021	943	26	20	4	86	227	2

18.8.2021	942	26	21	2	86	201	4

19.8.2021	943	32	21	0	88	250	5

21.8.2021	943	32	21	294	62	227	5

24.8.2021	944	32	21	0	61	250	6

25.8.2021	943	31	20	0	69	251	9

26.8.2021	942	30	21	0	88	253	6

31.8.2021	942	26	21	1	81	246	6

SLP : 942,943,944

Tmax : 26,30,31,32

Tmin : 20,21

Rain : 0,1,2,4,294

Rh : 61,62,69,81,86,88

Wind dir : 201,227,246,250,251,253

Wind speed : 2,4,5,6,9

19 , 25 , 26 - dates having HIGH risk index